app = "museum"
primary_region = "iad"

[build]

[env]
  PORT = "3000"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0

[mounts]
  source = "museum_images"
  destination = "/app/public/images"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
