services:
  - type: web
    name: museum
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NODE_ENV
        value: production
    disk:
      name: museum-images
      mountPath: /opt/render/project/src/public/images
      sizeGB: 1
